body, html{
    height: 100%;
    padding: 50px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:"Times New Roman", Times, serif;
    min-height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: blanchedalmond;
}

body h1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Times New Roman", Times, monospace;
    width: max-content;
}


.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid blanchedalmond;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 6s steps(23, end), blink-caret .75s step-end infinite;
}

body p {
    color: hsl(0, 0%, 0% / 0.7);
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(8s) forwards;
}

@keyframes typing{
    from { width: 0 }
    to { width: 100%;}
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: blanchedalmond;}
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body img {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    width: 550px;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(8s) forwards;
}

.row {
    display: flex;
}
.column {
    flex: 33.33%;
    padding: 5px;
}
