body, html{
    height: auto;
    padding: 50px;
}

* {
    box-sizing: border-box;
    align-items: center;
}

body {
    margin: 0;
    font-family:"Times New Roman", Times, serif;
    min-height: 100%;
    display: grid;
    text-align: center;
    background-color: blanchedalmond;
}

body h1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Times New Roman", Times, monospace;
    width: max-content;
}

body h2 {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(8s) forwards;
}


.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid blanchedalmond;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 6s steps(23, end), blink-caret .75s step-end infinite;
}

body p {
    color: hsl(0, 0%, 0% / 0.7);
    font-weight: 400;
    width: auto;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(8s) forwards;
}

@keyframes typing{
    from { width: 0 }
    to { width: 100%;}
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: blanchedalmond;}
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

img {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    width: 270px;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(8s) forwards;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.sidebar {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
.openbtn:hover {
    background-color: #444;
  }

#side {
    transition: margin-left .5s;
    padding: 16px;
  }

.wrapper {
    width: 100%;
    text-align: center;
    margin: 0 auto 1.4em;
}

.wrapper>div {
    display: inline-block;
    margin: auto;
    height: 3em;
    border: 1px solid #abc;
}

.wrapper>div:first-child {
    width: 15%;
}

.wrapper>div:nth-child(2) {
    width: 57%;
}

.wrapper>div:last-child {
    width: 25%;
}