body, html{
    height: 100%
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-image{
    background-image: url(background2.jpg);

    filter: blur(6px);
    -webkit-filter: blur(6px);

    height: 100%;

    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0, 0.4);
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    display: inline-block;
    position: relative;
    list-style-type: none;
    color: #fff;
    text-align: center;
    padding: 30px;
    margin: auto;
    text-decoration: none;
    font-size: auto;
    font-weight: bold;
    z-index: 1;
}

.navbar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 16%;
    height: 100%;
    background: linear-gradient(45deg, rgb(94, 88, 6), rgb(239, 216, 7));
    border-radius: 8px;
    transition: .5s;
}

.navbar a:nth-child(1):hover~span{
    left: 0;
}

.navbar a:nth-child(2):hover~span{
    left: 20%;
    
}

.navbar a:nth-child(3):hover~span{
    left: 40%;
    
}

.navbar a:nth-child(4):hover~span{
    left: 60%;
}

.navbar a:nth-child(5):hover~span{
    left: 84%; 
}

@media screen and (max-width: 600px) {
    .navbar a{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

/* For all pages*/
.wrapper {
    width: 100%;
    text-align: center;
    margin: 0 auto 1.4em;
}

.wrapper>div {
    display: inline-block;
    margin: auto;
    height: 3em;
    border: 1px solid #abc;
}

.wrapper>div:first-child {
    width: 15%;
}

.wrapper>div:nth-child(2) {
    width: 57%;
}

.wrapper>div:last-child {
    width: 25%;
}

/*aboutme.html css*/
.mebody {
    margin: 0;
    font-family:"Times New Roman", Times, serif;
    min-height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: blanchedalmond;
}

.mebody h1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Times New Roman", Times, monospace;
    width: max-content;
}


.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid blanchedalmond;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 6s steps(23, end), blink-caret .75s step-end infinite;
}

.mebody p {
    color: hsl(0, 0%, 0% / 0.7);
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(8s) forwards;
}

@keyframes typing{
    from { width: 0 }
    to { width: 100%;}
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: black;}
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}